[bumpversion]
current_version = 0.21.0
commit = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)\.(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}.{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:./package/endpoint/manifest.yml]
search = 
	version: {current_version}
	categories: ["security"]
replace = 
	version: {new_version}
	categories: ["security"]
