---
base:
  fields:
    "@timestamp":
      fields: "*"
    message:
      fields: "*"
ecs: {}
host: {}
event:
  fields:
    action: {}
    category: {}
    created: {}
    dataset: {}
    hash: {}
    id: {}
    ingested: {}
    kind: {}
    module: {}
    outcome: {}
    sequence: {}
    type: {}
agent:
  fields:
    version:
      fields: "*"
    type:
      fields: "*"
    id:
      fields: "*"
group:
  fields:
    id:
      fields: "*"
    name:
      fields: "*"
    Ext:
      fields:
        real:
          fields:
            id:
              fields: "*"
            name:
              fields: "*"
user:
  fields:
    id:
      fields: "*"
    name:
      fields: "*"
    domain:
      fields: "*"
    Ext:
      fields:
        real:
          fields:
            id:
              fields: "*"
            name:
              fields: "*"
process:
  fields:
    pid:
      fields: "*"
    name:
      fields: "*"
    executable:
      fields: "*"
    entity_id:
      fields: "*"
    thread:
      fields:
        id:
          fields: "*"
    Ext:
      fields:
        ancestry:
          fields: "*"
