---
name: security
fields:
  base:
    fields:
      "@timestamp": {}
      message: {}
  data_stream:
    fields: "*"
  ecs:
    fields:
      version: {}
  # these fields are needed in the mapping so the maps page of the security app does not throw a bunch of errors
  source:
    fields:
      ip: {}
      geo:
        fields: "*"
      port: {}
  destination:
    fields:
      geo:
        fields: "*"
  host:
    fields:
      architecture: {}
      domain: {}
      hostname: {}
      id: {}
      ip: {}
      mac: {}
      name: {}
      type: {}
      uptime: {}
      os:
        fields:
          family: {}
          full: {}
          kernel: {}
          platform: {}
          version: {}
          name: {}
          type: {}
          Ext:
            fields:
              variant: {}
  event:
    fields:
      action: {}
      category: {}
      created: {}
      code: {}
      dataset: {}
      hash: {}
      id: {}
      ingested: {}
      kind: {}
      module: {}
      outcome: {}
      provider: {}
      sequence: {}
      severity: {}
      type: {}
  agent:
    fields:
      version: {}
      type: {}
      id: {}
  group:
    fields:
      domain: {}
      id: {}
      name: {}
      Ext:
        fields:
          real:
            fields:
              id: {}
              name: {}
  user:
    fields:
      domain: {}
      email: {}
      full_name: {}
      hash: {}
      id: {}
      name: {}
      effective:
        fields:
          domain: {}
          email: {}
          full_name: {}
          hash: {}
          id: {}
          name: {}
      group:
        fields:
          domain: {}
          id: {}
          name: {}
          Ext:
            fields:
              real:
                fields:
                  id: {}
                  name: {}
      Ext:
        fields:
          real:
            fields:
              id: {}
              name: {}
  process:
    fields:
      parent:
        fields:
          executable: {}
          pid: {}
      pid: {}
      name: {}
      executable: {}
      entity_id: {}
      code_signature:
        fields:
          exists: {}
          signing_id: {}
          status: {}
          subject_name: {}
          thumbprint_sha256: {}
          team_id: {}
          trusted: {}
          valid: {}
      thread:
        fields:
          id: {}
      Ext:
        fields:
          ancestry: {}
          api:
            fields:
              metadata:
                fields:
                  client_is_local: {}
                  client_machine_fqdn: {}
                  return_value: {}
              parameters:
                fields:
                  desired_access: {}
                  desired_access_numeric: {}
                  handle_type: {}
          authentication_id: {}
          code_signature:
            fields:
              exists: {}
              status: {}
              subject_name: {}
              thumbprint_sha256: {}
              trusted: {}
              valid: {}
          protection: {}
          session_info:
            fields:
              failure_reason: {}
              logon_process_name: {}
              logon_type: {}
              id: {}
              authentication_package: {}
          token:
            fields:
              elevation: {}
              impersonation_level: {}
              integrity_level_name: {}
  Target:
    fields:
      process:
        fields:
          parent:
            fields:
              executable: {}
              pid: {}
          Ext:
            fields:
              authentication_id: {}
              protection: {}
              session_info:
                fields:
                  failure_reason: {}
                  logon_process_name: {}
                  logon_type: {}
                  id: {}
                  authentication_package: {}
              token:
                fields:
                  elevation: {}
                  impersonation_level: {}
                  integrity_level_name: {}
  winlog:
    fields:
      event_data:
        fields:
          PrivilegeList: {}
          Status: {}
          SubStatus: {}
          TargetServerName: {}
          TargetInfo: {}
          WorkstationName: {}
          LogonGuid: {}
          TargetLogonGuid: {}
          LmPackageName: {}
          RemoteCredentialGuard: {}
          TargetLinkedLogonId: {}
          ServiceName: {}
          ServiceFileName: {}
          ServiceType: {}
          ServiceStartType: {}
          TaskName: {}
          TaskContent: {}
          TaskContentNew: {}
          EnabledPrivilegeList: {}
          SamAccountName: {}
          DisplayName: {}
          UserPrincipalName: {}
          PrimaryGroupId: {}
          CountOfCredentialsReturned: {}
          SchemaFriendlyName: {}
          Resource: {}
          Identity: {}
          ShareName: {}
          ShareLocalPath: {}
          RelativeTargetName: {}
          AccessReason: {}
  file:
    fields:
      code_signature:
        fields:
          signing_id: {}
          team_id: {}
      path: {}
  Effective_process:
    fields:
      pid: {}
      name: {}
      executable: {}
      entity_id: {}
      code_signature:
        fields:
          exists: {}
          signing_id: {}
          status: {}
          subject_name: {}
          team_id: {}
          trusted: {}
  Tcc:
    fields:
      service: {}
      identity: {}
      update_type: {}
      right: {}
      reason: {}
